header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}


nav .nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

nav .nav-links li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  font-size: 20px;
  transition: 0.3s;
}

nav .nav-links li a:hover {
  color: #007bff;
}

.active {
  background-color: pink;
  padding: 10px;
}