/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
    padding-inline: 20px;
    padding-block: 10px;
    font-size: 20px;
    border-radius: 10px;
}